<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFlix</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
  
<body>
  <h1>PROFlix</h1>

  <% if @current_user %>
  #css'a detta
          <li class=account-tab> 
            <form class="delete" action="/logout" method="post">
              <input type="submit" value="Logga ut">
            </form>
          </li>
          <% else %>
          <li><a href="/login">Logga in</a></li>
          <li><a href="/users/new">Registrera</a>
          <% end %>

  #länka till browse
  #yield

</body>
</html>
